.blog-background {
  background-image: url('../images/Hero-Right-D.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 35vw;
}

.blog-description {
  font-size: 18px;
}

.google-slide-iframe {
  width: 960px;
}