
/* .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    .card {
      flex: 0 0 auto;
      margin-right: 3px;
    }
  } */

/* .scrolling-wrapper-flexbox .card {
    flex: 0 0 auto;
    margin-right: 3px;
} */

/* .card {
    border: 2px solid red;
    width: 300px;
    height: 75px;
    background: black;
    flex: 0 0 auto;
    margin-right: 3px;
    scroll-snap-align: center;
  } */

/* .scrolling-wrapper, .scrolling-wrapper-flexbox {
    height: 80px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  } */
.scrolling-wrapper,
.scrolling-wrapper-flexbox {
    scroll-snap-type: x proximity;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 80px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar,
.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}

.z0 {
  z-index: 0 !important;
}
