.carousel-item {
    padding-left: 4%;
    padding-right: 4%;
    background-color: #fafafa;
}

.carousel-control-next {
    width: 4%;
}

.carousel-control-prev {
    width: 4%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-caption {
    color: #333333;
}

.carousel-indicators li {
    background-color: #333333;
}

/* .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    .card {
      flex: 0 0 auto;
      margin-right: 3px;
    }
  } */

/* .scrolling-wrapper-flexbox .card {
    flex: 0 0 auto;
    margin-right: 3px;
} */

/* .card {
    border: 2px solid red;
    width: 300px;
    height: 75px;
    background: black;
    flex: 0 0 auto;
    margin-right: 3px;
    scroll-snap-align: center;
  } */

/* .scrolling-wrapper, .scrolling-wrapper-flexbox {
    height: 80px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  } */
.scrolling-wrapper,
.scrolling-wrapper-flexbox {
    scroll-snap-type: x proximity;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 80px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar,
.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}