// Override default variables before the import
@import url(https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css);
@import url(https://fonts.googleapis.com/css?family=Yantramanav:200,300,400,700);
$headings-font-family:Yantramanav;

$primary:#FF8F2B;
$secondary:#FFD338;
$success:#28A745;
$danger:#DC3545;
$info:#2F80ED;
$warning:#9B51E0;
$light:#FAFAFA;
$dark:#333333;
$body-bg:#FAFAFA;
$enable-gradients:false;
$enable-rounded:false;
// $border-width:0; Commented out because it's removing result table's border.
$btn-border-radius:0;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

hr {
    opacity: 0.3;
    border: 1px solid #FFFFFF;
}

.page-link {
    color: #3c4055;
}

.page-item.active .page-link {
    color: #3c4055;
}

.btn-primary {
    color: $light;
}

.btn-secondary {
    background-color: $light;
    border-color: $primary;
}

@font-face {
    font-family: 'HalyardDis-Regular';
    src: local('HalyardDis-Regular'), url(./fonts/HalyardDis-Regular.otf) format('opentype');
}

body {
    font-family: HalyardDis-Regular;
}

h1, h2, h3, h4{
    font-family: HalyardDis-Regular;
}