// Override default variables before the import
@import url(https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css);
@import url(https://fonts.googleapis.com/css?family=Yantramanav:200,300,400,700);
$headings-font-family:Yantramanav;

$primary:#F2F3F4;
$secondary:#c9c9c9;
$success:#37bd74;
$danger:#e8286b;
$info:#7ebcfa;
$warning:#ff9b37;
$light:#eef0f2;
$dark:#3c4055;
$body-bg:#efefef;
$enable-gradients:false;
$enable-rounded:false;
// $border-width:0; Commented out because it's removing result table's border.
$btn-border-radius:0;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

hr {
    opacity: 0.3;
    border:1px solid #FFFFFF;
}

.page-link {
    color: #3c4055;
}

.page-item.active .page-link {
    color: #3c4055;
}